main {
  width: 95%;
  min-height: 500px;
  margin: 1rem auto 3rem auto;
  gap: 1rem;
  .top {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    text-align: left;
    .description {
      // margin: auto;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: flex-start;
      .typewriter {
        min-height: 260px;
      }

      /* The animation code */
      // @keyframes explore_animation {
      //   to {
      //     transform: scale(1.03);
      //   }
      // }

      // /* The element to apply the animation to */
      // .explore {
      //   animation-name: explore_animation;
      //   animation-duration: 4s;
      //   width: fit-content;
      //   height: fit-content;
      // }
    }
    .image {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
      gap: 0.5rem;
      .img {
        width: 100%;
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
          transition: 0.6s;
        }
        .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(0, 0, 255, 0.288);
          border-radius: 10px;
          display: none;
          z-index: 100;
        }
      }
      .border {
        border: 2px solid var(--clr-grey) !important;
      }

      .img:hover img {
        transform: scale(1.03);
      }
      .img:hover .overlay {
        display: block;
        transform: scale(1.03);
          transition: 0.9s;


      }
    }
  }
  .actions {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .partners {
      display: flex;
      width: 100%;
      height: 100px;
      gap: 1rem;
      .partner {
        width: 100px;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }
    }
  }
  // .left {
  //   border: 1px solid maroon;

  //   text-align: left;
  //   height: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 1rem;
  //   align-items: flex-start;
  //   .typewriter {
  //     min-height: 260px;
  //   }
  //   .partners {
  //     height: 70px;
  //     display: flex;
  //     justify-content: left;
  //     // gap: .rem;
  //     width: 100%;
  //     .partner {
  //       // border: 2px solid blue;
  //       height: 100%;
  //       width: 100px;
  //       img {
  //         width: 100%;
  //         height: 100%;
  //         object-fit: contain;
  //         border-radius: 6px;
  //       }
  //     }
  //   }
  // }
  // .right {
  //   height: inherit;
  //   width: 100%;
  //   .image {
  //     width: 100%;
  //     height: inherit;
  //     img {
  //       width: 100%;
  //       object-fit: cover;
  //       height: 100%;
  //     }
  //   }
  // }
}

.categories_wrapper {
  text-align: left;
  h6 {
    margin-left: 3rem;
    padding-left: 1.5rem;
    border-left: 4px solid maroon;
  }
  .categories {
    height: 200px;
    width: 95%;
    margin: auto;
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    overflow-x: auto;
    padding: 1rem;
    p {
      font-size: 80%;
      text-align: center;
    }
    .category {
      background-color: var(--clr-white);
      box-shadow: 2px 4px 4px var(--clr-grey);
      border-radius: 8px;
      width: 150px;
      height: 90%;
      position: relative;
      transition: 0.6s;
      .overlay {
        position: absolute;
        background-color: rgba(0, 0, 255, 0.397);
        width: 100%;
        height: 100%;
        z-index: 9;
        border-radius: 8px;
      }
      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }
    }
    .category:hover {
      transform: scale(1.02);
    }
  }
}

.find_opportunities {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 2rem;
  .left {
    text-align: left;
    width: 90%;
    .find_opp_steps {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      .step {
        display: flex;
        gap: 1.5rem;
        .title {
          font-size: 1.3rem;
        }
      }
    }
  }
  .right {
    border-radius: 10px;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

.buy_sell {
  width: 95%;
  margin: auto;
  text-align: left;
  min-height: 400px;
  .product_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    .item {
      height: 200px;
      border-radius: 10px;
      background-color: var(--clr-white);
      transition: 0.6s;
      cursor: pointer;
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
          transition: 0.6s;
        }

        img:hover {
          transform: scale(1.03);
        }
      }
      .shop_btn {
        position: absolute;
        right: 5%;
        bottom: 5%;
        background-color: maroon;
      }
    }
  }
  // .item:hover {
  //   background-color: var(--clr-light-grey);
  //   transform: scale(1.02);
  // }
}

.recruiters {
  width: 95%;
  min-height: 500px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  .left {
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    .offers {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      .offer {
        display: flex;
        text-align: left;
        gap: 1rem;
      }
    }
  }
}

.medical_centers {
  display: flex;
  flex-direction: column;
  hr {
    // height: 4px;
    width: 80%;
    color: red;
    background-color: var(--clr-grey);
  }
  .hospital_card_wrapper {
    width: 100%;
    min-height: 300px;
    margin: auto;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    padding-left: 2rem;
    .hospital_card {
      min-width: 300px;
      height: 300px;
      margin: 1rem 0;
      // height: fit-content;
      width: 300px;
      border-radius: 10px;
      box-shadow: 3px 4px 8px var(--clr-grey);

      .image {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0 0;
        }
      }
      .hospital_description {
        height: 40%;
        text-align: left;
        width: 90%;
        margin: auto;
        padding: 1rem 0;
        p {
          font-size: 90%;
        }
        .green {
          background-color: var(--clr-secondary);
        }
      }
    }
  }
}

.swap_wrapper {
  width: 95%;
  height: fit-content;
  border: 2px solid var(--clr-secondary);
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem 0;
  .swap {
    width: 100%;
    min-height: 400px;
    padding: 1rem 0.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    color: var(--clr-primary);
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        transition: 0.6s;
      }
      img:hover {
        transform: scale(1.03);
      }
    }
    .content {
      text-align: left;
      height: fit-content;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      .green {
        background-color: var(--clr-secondary);
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    .top {
      grid-template-columns: 1fr;
      .description {
        .typewriter {
          min-height: 120px;
        }
      }
      .image {
        width: 80%;
        margin: auto;
      }
    }
    .actions {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .partners {
        height: fit-content;
        gap: 0.5rem;
        .partner {
          width: 20%;
          height: fit-content;
          img {
            height: auto;
          }
        }
      }
    }
  }

  .categories_wrapper {
    h6 {
      margin-left: 0.7rem;
      padding-left: 0.5rem;
    }
    .categories {
      height: 150px;
      width: 100%;
      gap: 1rem;
      margin-bottom: 3rem;
      padding: 0.5rem;
    }
  }
  .find_opportunities {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    .left {
      width: 100%;
      .find_opp_steps {
        gap: 1rem;
        .step {
          display: flex;
          gap: 1.5rem;
        }
      }
    }
  }
  .buy_sell {
    .product_items {
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      .item {
        height: 150px;
      }
    }
  }

  .recruiters {
    margin: 1rem auto;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  //checkback soon
  .medical_centers {
    width: 95%;
    margin: auto;
    text-align: left;
    hr {
      width: 100%;
    }
    .hospital_card_wrapper {
      width: 100%;
      min-height: 150px;
      margin: auto;
      display: flex;
      gap: 1rem;
      overflow-x: scroll;
      padding-left: 1rem;
      .hospital_card {
        min-width: 200px;
        height: 200px;
        margin: 1rem 0;
        width: 200px;
        .image {
          height: 50%;
          img {
            object-fit: cover;
          }
        }
        .hospital_description {
          // border: 2px solid maroon;
          height: 50%;
          width: 100%;
          margin: 0.5rem auto;
          padding: 0 0.5rem;
          font-size: 90%;
          h6 {
            font-size: 1rem;
            margin: 0;
          }
          p {
            font-size: 0.8rem;
          }
          .green {
            background-color: var(--clr-secondary);
          }
          .read_more {
            width: 50%;
            font-size: 0.5rem;
            padding: 0.1rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }

  .swap_wrapper {
    .swap {
      width: 95%;
      margin: 1rem auto;
      grid-template-columns: 1fr;
      gap: 0;
      border: 1px solid var(--clr-secondary);
      .content {
        gap: 0.1rem;
      }
    }
  }
}
