.what_we_offer {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  width: 70%;
  margin-left: 10%;
  .image {
    border: 1px solid var(--clr-secondary);
    border-radius: 20px;

    width: 8rem;
    height: 8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    ul {
      list-style: circle !important;
    }
  }
}

.what_we_offer:not(:last-child) {
  /* your css here */
  border-bottom: var(--grey-border);
}
