.donate_blood_wrapper {

  .how_to_donate {
    border: 1px solid var(--clr-grey);
    border-radius: 10px;
    width: 95%;
    margin: auto;
    color: var(--clr-deep-primary);
    .how_to_donate_paragraph {
      // font-weight: 600;
      color: var(--clr-grey);
    }

    .step {
      border-left: 4px solid maroon;
      text-align: left;
      padding: 2rem;
      width: 90%;
      margin: 2rem auto;
      height: fit-content;
    }
    .red {
      border-left: 4px solid red;
    }
    .yellow {
      border-left: 4px solid yellow;
    }

    .green {
      border-left: 4px solid green;
    }
  }
  .donor_section {
    width: 95%;
    margin: 1rem auto;
    .donor_wrapper {
      display: flex;
      gap: 1.8rem;
      overflow-x: auto;
    }
  }
}
